name: Tests on every commit

on:
  push:
    branches:
      - "**"

  pull_request:
    branches:
      - "**"

jobs:
  test:

    runs-on: ubuntu-latest

    steps:

      - name: Checkout repo
        uses: actions/checkout@v4


      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11


      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt


      - name: Add project to PYTHONPATH
        run: echo "PYTHONPATH=$PYTHONPATH:." >> $GITHUB_ENV


      - name: Run tests
        run: pytest -v