name: LEADVENTURE TEST

on:
  push:
    branches:
      - master

jobs:
  test:

    runs-on: ubuntu-latest

    steps:

      - name: Checkout repo
        uses: actions/checkout@v4


      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11


      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest pytest-html


      - name: Add project to PYTHONPATH
        run: echo "PYTHONPATH=$PYTHONPATH:." >> $GITHUB_ENV

      - name: Set env variables
        run: |
          echo "HUGGINGFACE_API_KEY=${{ secrets.HUGGINGFACE_API_KEY }}" >> $GITHUB_ENV
          echo "AI_BASE_URL=${{ secrets.AI_BASE_URL }}" >> $GITHUB_ENV
          echo "AI_MODEL=${{ secrets.AI_MODEL }}" >> $GITHUB_ENV



      - name: Run tests and create report
        continue-on-error: true
        run: |
          pytest -v --html=report.html --junitxml=report.xml || true


      - name: Upload test artifacts
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: |
            report.xml
            report.html